apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
        - name: users
          image: ganjinajae/kub-demo-users:latest
          env:
            - name: AUTH_ADDRESS
              value: "10.103.151.237" # 동일한 pod에서 실행되는 컨테이너가 서로 통신하는 경우에 사용 가능하다. 특수한 주소
